---
import Layout from '@layouts/Layout.astro'
import { InfojobsServices } from 'src/services/infojobsServices'
const { jobId } = Astro.params
const jobDetails = await InfojobsServices.getOfferDetails(jobId ?? '')
---

<Layout title='Ofertas de trabajo'>
  <h1>{JSON.stringify(jobDetails)}</h1>
</Layout>
