---
import Layout from '@layouts/Layout.astro'
import { InfojobsService } from 'src/services/infojobsService'
const { jobId } = Astro.params
const jobDetails = await InfojobsService.getOfferDetails(jobId ?? '')
---

<Layout title='Ofertas de trabajo'>
  <h1>{JSON.stringify(jobDetails)}</h1>
</Layout>
