---
import Layout from '@layouts/Layout.astro'
import { InfojobsServices } from 'src/services/infojobsServices'
const queryEntries = Astro.url.searchParams.toString()
const query = queryEntries ? `${queryEntries}` : ''
const jobsRetrieved = await InfojobsServices.searchOffers(query)
---

<Layout title='Ofertas de trabajo'>
  <h1>Busca el trabajo que sueñas</h1>
  {JSON.stringify(jobsRetrieved.items[0])}
</Layout>
