.jobsContainer {
  max-width: 90%;
  margin: auto;
  padding: 50px 0;
  height: 100%;
}
.sectionTitle {
  color: var(--primary-color);
  font-size: var(--text-lg);
  font-weight: 500;
}
.categoriesContainer {
  width: 80%;
  height: 100%;
  display: grid;
  margin: 40px auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 10px;
}
.categoryCard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  border-radius: var(--rounded);
  padding: 20px;
  text-decoration: none;
}
.categoryCard:hover img {
  transform: scale(1.05);
}
.categoryCard > img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.8);
  transition: all 0.3s ease-in-out;
}
.title {
  z-index: 1;
  color: #fff;
  font-size: var(--text-md);
  font-weight: bold;
}
.count {
  z-index: 1;
  padding: 5px 10px;
  font-size: var(--text-sm);
  border-radius: var(--rounded);
  width: fit-content;
  color: #fff;
  background-color: #23536e;
}
.place0 {
  grid-column: 1;
  grid-row: 2/8;
}
.place1 {
  grid-column: 2;
  grid-row: 1/5;
}
.place2 {
  grid-column: 3;
  grid-row: 2/4;
}
.place3 {
  grid-column: 4;
  grid-row: 1/5;
}
.place4 {
  grid-column: 5;
  grid-row: 2/8;
}
.place5 {
  grid-column: 2;
  grid-row: 5/9;
}
.place6 {
  grid-column: 3;
  grid-row: 4/8;
}
.place7 {
  grid-column: 4;
  grid-row: 5/9;
}
