---
import Layout from '../layouts/Layout.astro'
import HeroBanner from '../components/HeroBanner.astro'
import RelevantJobs from '../components/RelevantJobs.astro'
---

<Layout title='Infojobs Hackathon'>
  <main>
    <HeroBanner />
    <RelevantJobs />
  </main>
</Layout>

<style>
  main {
    max-width: 90%;
    margin: auto;
  }
</style>
