---
import ArrowRightIcon from '@icons/ArrowRightIcon.astro'
const queryEntries = Astro.url.searchParams.entries()
console.log(queryEntries)
---

<header>
  <a href='/'>
    <img src='/infojobsLogo.svg' alt='Infojobs' />
  </a>
  <ul>
    <li>Empleos</li>
    <li>Salarios</li>
    <li>Cursos</li>
  </ul>
  <a href='/' class='login-button'
    >Iniciar Sesión<ArrowRightIcon className='arrow-icon' /></a
  >
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  header img {
    height: 25px;
  }
  ul {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: var(--rounded);
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
  }
  .arrow-icon {
    height: 20px;
    fill: var(--primary-color);
    transition: transform 0.2s ease-in;
  }
  .login-button:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  .login-button:hover .arrow-icon {
    fill: #fff;
    transform: translateX(2px);
  }
</style>
